@use './variables' as *;

body {
    margin: 0;
    background: $BG;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    color: $OTDP_GREY;
}


.dt__main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px;

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "dtheader" "dtcontent";
}

.dt__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: dtheader;

    hgroup {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 0.5rem;
    }

    h1 {
        font-family: "Zen Dots", sans-serif;
        font-size: 1.125rem;
        color: $OTDP_WHITE;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
        font-family: "DM Mono", monospace;
        font-weight: 500;
        font-style: italic;
        margin: 0;
        line-height: 32px;
    }
}

.dt__content {
    display: grid;
    grid-area: dtcontent;
    grid-template-columns: 1fr 4fr;
    gap: 30px;

    > section {
        &:first-child {
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 0;

            .dt__card {
                &:first-child {
                    flex: 1;

                    main {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;

            .dt__card {
                background-color: transparent;
                position: relative;
                overflow: hidden;

                > span {
                    background-color: $OTDP_CARD;
                    position: absolute;
                    width: 120%;
                    height: 120%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: .7;
                    filter: blur(8px);
                }
            }

            > .dt__card {
                z-index: 1;
            }
        }
    }
}

.dt__card,
.dt__globe__card {
    background-color: $OTDP_CARD;
    border: 1.5px solid $OTDP_IN;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            color: $OTDP_WHITE;
            margin: 0;
            font-size: 1rem;
            font-weight: 400;
            font-family: "DM Mono", monospace;
            text-transform: uppercase;
        }

        p {
            margin: 0;
            color: $OTDP_GREY;
            font-family: "DM Mono", monospace;
            font-size: 0.75rem;
            font-optical-sizing: auto;
        }
    }

    main {
        flex: 1;
    }
}

.dt__globe__card {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: transparent;
    border: none;

    > div {
        width: min-content;
        z-index: 2;
    }
}

.today__ephemeride {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    p {
        font-family: "Manrope", sans-serif;
        font-size: 1.125rem;
        font-weight: 700;
        color: $OTDP_WHITE;
        text-align: center;

        span {
            font-family: "Zen Dots", sans-serif;
            color: $OTDP_PRIMARY;
            margin: 0 5px;  
        }
    }
}

.upcoming {
    overflow-x: auto;          
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
}

.upcoming__ephemeride {
    background-color: $OTDP_IN;
    border-radius: 4px;
    padding: 20px 20px;
    padding-bottom: 30px;
    flex: 0 0 auto;         
    width: 200px;           
    scroll-snap-align: start;
    
    p, span {
        font-family: "Zen Dots", sans-serif;
        color: $OTDP_WHITE;
    }

    p {
        font-size: 1.5rem;
    }

    span {
        font-size: 0.75rem;
    }
}

.dt__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid $OTDP_GREY;

    thead {
        tr {
            th {
                font-family: "DM Mono", monospace;
                color: $OTDP_GREY;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 0.75rem;
                border-bottom: 1px solid $OTDP_GREY;
            }

            &:nth-child(1) {
                th {
                    border-bottom: none;
                }
            }
        }
    }

    tbody {
        tr {
            color: $OTDP_WHITE;
            font-size: 0.875rem;
        }
    }

    thead tr:first-child th:first-child {
        border-top-left-radius: 4px;
    }

    thead tr:first-child th:last-child {
        border-top-right-radius: 4px;
    }

    tbody tr:last-child td:first-child {
        border-bottom-left-radius: 4px;
    }
    
    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 4px;
    }
}

.table-container {
    border-radius: 4px;
    border-color: $OTDP_GREY;

    thead {
        tr {
            border-bottom: 1px solid $OTDP_GREY;

            th {
                font-family: "DM Mono", monospace;
                color: $OTDP_GREY;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 0.75rem;
                border-bottom: 1px solid $OTDP_GREY;
            }

            &:nth-child(1) {
                th {
                    border-bottom: none;
                }
            }
        }
    }

    tbody {
        tr {
            color: $OTDP_WHITE;
            font-size: 0.875rem;
            border-bottom: 1px solid $OTDP_GREY;
        }
    }

}

.album__selector {

    > div {
        width: 275px;
    }

    input {
        padding: 0.875rem 2rem;
        border-radius: 8px;
        border: 1px solid $OTDP_WHITE;
        width: 100%;
        color: $OTDP_WHITE;

        &:focus-visible {
            outline: $OTDP_PRIMARY auto 10px;
        }
    }

    button {
        width: 100%;
        box-sizing: border-box;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;
    }
}

.album__list {
    background: $OTDP_IN;
    padding: 0;
    font-family: "DM Mono", monospace;
    color: $OTDP_WHITE;
    font-size: 0.75rem;

    > div {
        padding: 0;
    }
}

.album__list__item {
    border-bottom: 1px solid $OTDP_GREY;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &:hover {
        background-color: transparentize($OTDP_PRIMARY, 0.8);
    }

    &[data-selected] {
        background-color: $OTDP_PRIMARY;
    }
}